body {
    text-align: center;
    background-color: #BBFFBB;
    font-family: 'Roboto', sans-serif;
}

.main-page-title-div {
    font-family: 'Roboto Slab', serif;
    color: #FF8000;
}

.main-page-title {
    font-size: 48px;
}

.main-page-subtitle {
    font-size: 32px;
}

.main-info-div {
    display: flex;
    justify-content: center;
}

.name-info-span {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: 2px solid #FF8000;
    background-color: white;
}

.info-item {
    padding: 15px;
}

.separation-line {
    width: 80%;
    margin-top: 70px;
    background-color: #FF8000;
    height: 1px;
    border: none;
}

.assignment-preview-title {
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    color: #FF8000;
    margin-top: 70px;
}

.assignment-link {
    text-decoration: underline;
    color: black;
    font-size: 22px;
 
}

.assignment-link:hover {
    color: #FF8000
}